
<!-- Banner is here b/c of problems with keeping clear nav bar showing -->
<section id="banner" >
    <h2>Beer or Chip</h2>
    <p>everyone makes the party</p>
</section>

<!-- Main -->
<section id="main" class="wrapper">
  <div class="container">

    <header class="major">
      <h2>Create Event</h2>
      <p>Tell us about your event</p>
    </header>


    <div>
      <script>
        window.fbAsyncInit = function() {
          FB.init({
            appId      : '202296070130925',
            status     : true,
            xfbml      : true,
            cookie     : true,
            oauth      : true,
            version    : 'v2.2'
          });
        };

        (function(d, s, id){
           var js, fjs = d.getElementsByTagName(s)[0];
           if (d.getElementById(id)) {return;}
           js = d.createElement(s); js.id = id; js.async = true;
           js.src = "//connect.facebook.net/en_US/sdk.js";
           fjs.parentNode.insertBefore(js, fjs);
         }(document, 'script', 'facebook-jssdk'));
      </script>
      <form novalidate class="event-form">
        <label>Event Name:</label>
        <input type="text" ng-model="event.name" />
        <br />
        <label>Event Date:</label>
        <input type="datetime-local" id="exampleInput" name="input" ng-model="event.date"
           placeholder="yyyy-MM-dd" min="2016-01-01" max="2016-12-31" required />
        <br /> <br/>
        <!-- <table>
          <tr ng-repeat='day in days'>
            <td>{{day.dayName}}</td>
            <td ng-repeat='hour in day.hours' ng-click="select($event, day)">{{hour}}</td>
          </tr>
        </table> -->
        <label>Event Description:</label> 
        <input type="text" ng-model="event.description" />
        <label>Event Location:</label>
        <input type="text" ng-model="event.location" ng-model-options="{ debounce: 500 }"/> <br/>
        <input type="submit"  ng-click="mapIt()" value="Map it!" />
        <br /> <br />

        <!-- this is the map -->
        <div id="map" style="width: 500px; height: 400px;"></div>
        <br />

        <label>Guests to invite:</label>
        <div ng-repeat="friend in myFriends">
          <br />
          <input type="button" value="{{ friend.name }}" ng-click="addGuest(friend)" class="button special small">
          <br />
        </div>
        <br/> <br/>

        <h1>Invited Guests:</h1>
        <ul>
          <li ng-repeat="friend in guests">
          {{friend.name}}
          </li>
        </ul>

        <label>Stuff you need for your party:</label>
        <!-- <textarea ng-model="hold.items" ng-list="&#10;" ng-trim="false"></textarea> -->
        <div class="add-items">
        <!-- <div ng-repeat="item in items"> -->
          <label>
            <span>
            <input type="text" ng-model="item" placeholder="Enter Item..." ng-keypress="addItem($event)"></span>
            {{items}}
          </label>
        <!-- </div> -->
        </div>

        <h1>Added items:</h1>
        <ul>
          <li ng-repeat="item in items">
          {{item}}
            <input type="button" value="X" ng-click="removeItem(item)" class="button special small">
          </li>
        </ul>

        <!-- <button ng-click="addItem()">Add another item</button> -->
        <input type="button" value="Add Item" ng-click="addItem()" class="button alt small" style="width:10%">
        <br /> <br />

        <!-- <button ng-click="getCurrent()"> getCurrent Event </button> -->
        <!-- <br />
        <br /> -->
        <input type="button" ng-click="reset()" value="Reset" />
        <input type="submit" ng-click="update(event, hold)" value="Submit" />
      </form>
    </div>
  </div>
</section>
