<section id="banner" >
	<h2>Beer or Chip</h2>
	<p>everyone makes the party</p>
</section> 

<section id="main" class="wrapper">
  <div class="container">

    <header class="major">
      <h2>Event Details</h2>
    </header>
  	<div>
  		<div>		
  		  <h4>{{details.data.event.name}}</h4> 
  		  <h5>{{details.data.event.location}}</h5>
  		  <h5>{{details.data.event.date| date: 'fullDate'}}</h5> 
  		</div>
    	<div class="table-wrapper">
    		<div class="itemsTable row">
          <div ng-repeat="(guestInfo, list) in models.guests" class="col-md-6">
            <div class="panel panel-info">
              <div class="panel-heading">
                  <h3 class="panel-title">{{getName(guestInfo)}}</h3>
              </div>
              <div class="panel-body" >
                <ul dnd-list="list"
                    dnd-drop="reassignItem(item, guestInfo)">
                  <li ng-repeat="item in list"
                      dnd-draggable="item"
                      dnd-moved="list.splice($index, 1)"
                      dnd-effect-allowed="move"
                      dnd-selected="models.selected = item"
                      ng-class="{'selected': models.selected === item}"
                      >
                      {{item.name}}
                  </li>
                </ul>
              </div>
              </div>
          </div>
        </div>
      </div>
    </div>   
    <button type="button" class="nodemailer" ng-click="email()">
      Send Event Details to Guests
    </button>
  </div>
</section> 


        <!-- <table class="alt"> -->
    			<!-- <thead>
    				<tr>
    					<th>Guest Name</th>
    					<th>Items to bring</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr ng-repeat="guest in details.data.guests">
    					<td >
    						{{guest.name}}
    					</td> -->

<!-- the line below was if you wanted to send each item as an individual column. This is if you want to display each item as a nice table 
where everything has it's own box
--------------------------------------------------------
    					<td ng-repeat="stuff in guest.bringStuff">
    						{{stuff}}
    					</td> -->
<!--               <td>
                {{guest.bringStuffString}}
              </td>
    				</tr>
    			</tbody> -->
        <!-- </table> -->
